<footer class=" py-10 bg-[#f3f3f3]">
    <div class="container w-[85%] m-auto">
      <h2 class="text-4xl mb-3 text-gray-700">{{'getTheFreshCartApp'|translate }}</h2>
      <p class="text-gray-600 mb-10">
       {{'weWillSendYouaLinkOpenitonYourPhonetodownloadtheapp' |translate}}
      </p>
  
      <div class="flex md:flex-row flex-col items-center gap-3 text-nowrap mb-8">
        <input  class="form-control w-[100%] md:w-[85%] rounded-xl  outline-none  py-2 px-2 outline-slate-200 text-gray-500 "  placeholder="Email .." />
        <button class="btn-main bg-[#23b1a5] text-white px-10 py-2 rounded-xl">{{'shareapplink'|translate }}</button>
      </div>
  
      <hr />
  
      <div class="pay-details flex md:flex-row flex-col  justify-between items-center py-4">
        <div class="flex items-center gap-2 mb-6">
          <h3 class="text-gray-600 text-xl"> {{'paymentpartners' | translate }} </h3>
          <img src="/amazon-pay.png" width="40px" alt="TROVE" />
          <img
            src="/American-Express-Color.png"
            width="30px"
            alt=""
          />
          <img src="/mastercard.webp" width="30px" alt="TROVE" />

          <img src="/paypal.png" width="30px" alt="TROVE" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="text-gray-600 ms-3 text-xl "> {{'getDeliverieswithFreshCart' | translate }}  </h3>
          <img src="/get-google-play.png" width="75px" alt="TROVE " />
          <img src="/get-apple-store.png" width="75px" alt="TROVE" />
        </div>
      </div>
      <hr>
    </div>
  </footer>