<div>
   <div class="w-8/12 mx-auto py-10">
    <h1 class=" customiseafterline relative text-center text-5xl font-bold mt-5  mb-20 text-[#248888]">{{"forgotPassword" | translate}} </h1>
  @if (step == 1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <label class="text-gray-600 text-xl  font-semibold " for="email"> {{"email" | translate }} :</label>
        <input
        formControlName="email"
        type="email"
        id="email"
        class="shadow-xs mt-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#248888] focus:border-[#248888] block w-full p-2.5"
        required
      />
        <button
        [disabled]="verifyEmail.invalid"
        type="submit"
        class="px-6 py-3 block disabled:bg-[#e7475e] rounded-3xl my-8 bg-[#248888] text-white"
      >
        {{'verifyEmail' | translate }}
        
      </button>
    </form>
  } @else if (step == 2) {
    <form [formGroup]="verifycode" (ngSubmit)="verifyCodeSubmit()">
        <label class="text-gray-600 text-xl  font-semibold " for="resetCode"> {{"resetCode" | translate }} :</label>
        <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="shadow-xs mt-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#248888] focus:border-[#248888] block w-full p-2.5"
        required
      />
        <button
        [disabled]="verifycode.invalid"
        type="submit"
        class="px-6 py-3 block disabled:bg-[#e7475e] rounded-3xl my-8 bg-[#248888] text-white"
      >
        {{'verifyCode' | translate }}
        
      </button>
    </form>
  } @else if ( step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
        <div>
            <label class="text-gray-600 text-xl  font-semibold " for="email"> {{"email" | translate }} :</label>
        <input
        formControlName="email"
        type="email"
        id="email"
        class="shadow-xs mt-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#248888] focus:border-[#248888] block w-full p-2.5"
        required
      />
      
        </div>
        <div>
            <label class="text-gray-600 text-xl  font-semibold " for="newPassword"> {{"newPassword" | translate }} :</label>
        <input
        formControlName="newPassword"
        type="password"
        id="newPassword"
        class="shadow-xs mt-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#248888] focus:border-[#248888] block w-full p-2.5"
        required
      />
        <button
        [disabled]="resetPassword.invalid"
        type="submit"
        class="px-6 py-3 block disabled:bg-[#e7475e] rounded-3xl my-8 bg-[#248888] text-white"
      >
        {{'newPassword' | translate }}
        
      </button>
        </div>
    </form>
  }

   
    
    

    
   </div>
</div>